services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - 'pgdata:/var/lib/postgresql'
    ports:
      - '5433:5432'

volumes:
  pgdata:
