@import 'tailwindcss';
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);
@import '@nuxt/ui';

:root {
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f3f4f6; /* gray-100 */
  color: #1f2937; /* gray-800 */
}

.dark body {
  background-color: #0f172a; /* slate-900 */
  color: #f1f5f9; /* slate-100 */
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
